<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="./header.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <figure class="header__logo">
            <img src="./logo-platzi-video.png" alt="Logo de Platzi Video" class="logo-img">
        </figure>
        <nav class="header__menu">
            <figure class="menu__user">
                <img src="./user-icon.png" alt="Usuario" class="menu__user--img">
                <figcaption class="menu__user--caption">Perfil</figcaption>
            </figure>
            <ul class="menu__nav">
                <li class="nav-item"><a href="/">Cuenta</a></li>
                <li class="nav-item"><a href="/">Cerrar sesión</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>